.text{
text-align: center;
font-size: 80px;
margin-top: 50px;
margin-bottom: 10px;
color: rgb(235, 17, 162)
;
font-weight: bold;
font-family: 'Indie Flower', cursive;


}
.form
{
    margin: 5%
}

.col25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-right: 3px
}

.col75 {
    float: left;
    width: 100%;
    margin-top: 6px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 40px
}
.input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.input[type=password]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button{
    background-color: rgb(235, 17, 162);
    margin: auto;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;


}
.button1{
    background-color: rgb(13, 221, 93);
    margin: auto;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;


}

