.polaroid {
    background-color:  rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    border-radius: 10px;
    margin-top: 40px;
    color: white;
    transition: transform .2s;
    width: 300px;
    display: block;
    cursor: pointer;
  }
 

.polaroid img{   
    margin: auto;
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 10px;

} 
.container {
    text-align: center;
    padding: 10px 20px;
    color: black;
  }


.IMG img{
    margin: auto;
    display: block;
    width: 70%;
        animation-name: zoom;
        animation-duration: 0.6s;  

}
.span{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}


@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}


@media only screen and (max-width: 700px){
  


    .polaroid {
        transition: transform .2s;

    }
    .polaroid:hover
  {
    transform: scale(1.5);
   
  }
}

 